th,
td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/*     display: flex; */
.example-button-container {
    display: block;
}

th.mat-sort-header-sorted {
    color: black;
}